/*
!/sole_bili_get/
!setup.py
!readme.md
!.gitignore
!LICENSE.txt
!bilibili_cookie.jpg
/sole_bili_get/*
!/sole_bili_get/__init__.py
!/sole_bili_get/bili_get.py
!/sole_bili_get/utils.py
!/sole_bili_get/chrome_cookie.py
!/sole_bili_get/file_lock.py
!/sole_bili_get/av2bv.py
!/scripts/
!/scripts/download_collection.py